.todo__list {
    width: 100%;
    position: relative;
}
.todo__heading {
    text-align: center;
}
.list__content {
    position: relative;
    width: 100%;
}

.category {
    position: relative;
    max-width: 100%;
}

.category-btn {
    width: 100%;
    background-color: var(--primary-color);
    border: var(--primary-color);
    color: var(--white-color);
    padding: 10px 0;
    border-radius: 3px;
    font-size: 1.6rem;
    margin-top: 10px;
    cursor: pointer;
}

.category-btn:hover {
    color: var(--white-color);
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}