
.App__header {
    background-color: #444;
    padding: 20px 0; 
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.App__logo {
    width: 75px;
}

.header__title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 0;
}